/***
project name : exam
author : ali reza torkamani
school : Coding Dojo


***/

* {
    margin:0;
    padding: 0;
}

body {
   
    width: 100%;
    max-width: 1300px;
   
    margin: 0 auto;
}

h1 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
}
#header {
    width:100% !important;
    margin: 0 auto;
    height:70px;
    line-height: 70px;
    background-color: #CCC;
    color: #414348;
    border-radius: 5px;

}



#header .hleft   {
    display: inline-block;
    color:black;
    width: 75%;
    font-family: arial;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
    text-align: left;
}

#header .hright {
    display: inline-block;
    color:black;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    vertical-align: top;
    position:  relative;
    margin-top: 15px;
    text-align: right;
    background-color: white;
}

.hright li {
    list-style: none;
}

img.img-l {
    width: 40px;
    height: 40px;
    left:0px;
    position: absolute;
}

.hright input {
    height: 30px;
    width: 100%;
    margin: 3px auto;
    border: none;
    text-align: center;
    background-color: transparent;
}

img.img-r {
    width: 40px;
    height: 40px;
    right:0px;
    position: absolute;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}



.hleft li {
    width: 12.5%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    border-right: 1px solid #f6f6f6;
    margin-top:10px;
}


 div#page {
    margin-bottom: 78px;
    position:  relative;
    background-color: #f4f4f4;
    display: block;
    width: 100%;
    height: 700px;
    border-radius: 8px;
}   

#content {
    width: 100%;
    margin: 20px auto;
    position: relative;
   
}

#content img {
    width: 100%;
}

li.home {
    width: 12.5%;
    line-height: 50px;
    height: 70px;
    text-align: left;
    vertical-align: top;
    margin: 0 auto;
    border:  none;
}

li.home img {
    height: 70px;
    text-align:  left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#content ul {
    position: absolute;
    background: linear-gradient(#525150, #171818);
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}
#content ul li {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    height: 50px;
    color:#89b9d5;
    text-align: center;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;

}
li.white {
    color: white !important;
    display: block;
}

#content ul span{
    display: inline-block;
    border-right: solid 0.5px #565659;
    vertical-align: top;
    line-height: 50px;
    height: 30px;
    margin-top: 10px;
    color:#89b9d5;
    text-align: center;
    transform: rotate(31deg);
    margin-left: 20px;
    margin-right: 1.5%;}
#adv {
    width: 100%;
    height:150px;
    line-height: 150px;
    margin:80px auto 0px auto;
    border: solid 0.2px #f6f6f6;
}

#adv h1.left {
    display: inline-block;
    width: 60%;
    color: #c4c4c4;
    height: 150px;
    vertical-align: top;
    text-align: center;
    border-right:1px solid #CCC;
}
#adv .right {
    display: inline-block;
    width: 40%;
    line-height: 50px;
    vertical-align: top;
    height: 50px;
    margin:50px auto;
    position: absolute;
    text-align: center;
}
.col4 {
    width: 24.8%;
    display: inline-block;
    height:auto;
    background-color: #f7f7f5;
    vertical-align: top;
    margin: 0px auto;
    text-align: center;
    border-right:solid 0.2px #c4c4c4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.lastcol4 {
    width: 25%;
    display: inline-block;
    height:auto;
    background-color: #f7f7f5;
    vertical-align: top;
    margin: 0px auto;
    text-align: center;
    
}
.col4 h2, .lastcol4 h2 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}
.col4 img , .lastcol4 img{
    width: 40px !important;
    height: 40px;
    line-height: 40px;
}
div#box {
    width: 80%;
    margin: 37px auto;
    height: 300px;
    text-align: left;
    position:  relative;
    
   
}

#box p {
    margin:15px auto;
}

img.thumbnail {
    width: 100% !important;
    height: auto;
    position: absolute;
    bottom: 0;
    vertical-align:  bottom;
}

.col4 h1 , .lastcol4 h1{
    width: 80%;
    background: #5baeeb;
    color: #d6f4fc;
    font-size: 1em;
    height: 60px;
    border-radius: 5px;
    margin:10px auto;
    line-height: 60px;
    text-align: center;
}



#list {
    width:100%;
    height: auto;
    background-color: #fcfefd;
    color:black;
    margin:0 auto;
    border-bottom: 1px solid black;

}

#list .col6 {
    width:16.66%;
    display: inline-block;
    vertical-align: top;
    height: auto;

}

.col6 h3 {
    width: 100%;
    font-family: impact;
    font-weight: bold;
    color: #3b302e;

}

.col6 ul {
    width: 90%;
    margin:20px 0 60px 0;
    list-style: none;
    border-top: 1px solid #CCC;
}

.col6 ul li {
    margin-top: 20px;
}

#footer {
    margin:40px auto;
    height: 30px;
    width: 100%;
    line-height: 30px;




}

#footer span {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    margin-right: 10px;
    border-right: solid 1px;
}

.right h1 {
    width: 70%;
    background: #467ba0;
    border-radius: 10px;
    margin: auto;
    position: relative;
    text-align: left;
}

.right h1:after {
    content: "\00BB";
    position: absolute;
    color: yellow;
    right: 10px;
    text-align: right;

}